[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["all"] }
psycopg2 = "*"
requests = "*"
pydantic = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = {extras = ["standart"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
